* {
  margin: 0px;
  padding: 0px;


}

body {
  font-family: sans-serif;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;

}

h1 {
  font-size: 3rem;

}

p {
  font-size: 2rem;
}


#photo {
  width: 100%;
  border-radius: 25px;
}


/* CSS for nav component starts */

.navItems {
  display: flex;
  gap: 50px;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
 height: 90px;
}

.left>img {
  width: 30%;
}


ul {
  list-style-type: none;
}

ul li:hover {
  cursor: pointer;
  color: black;
}

.right ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* nav component ends here */

/* CSS for home component starts here */

.home button {
  transform: scale(1.8);

  margin: auto;
  background-color: rgb(56, 56, 210);
  padding: 5px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  text-transform: capitalize;
}

.home {
  display: flex;
  justify-content: space-around;
  height: 200px;
  margin-top: 200px;
}

.home>div {
  width: 45%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: 40px;
  align-items: center;
  margin: 30px;
  margin-top: 40%;
}

/* CSS for home component starts here */

/* CSS for blog component starts here */

.blog {

  margin-left: 100px;
  margin-right: 100px;
}

.cards {
  width: 30%;
  height: 400px;
  background-color: transparent;
  border-radius: 12px 12px 20px 20px;
  box-shadow: -1px -1px 8px 8px rgba(141, 199, 246, 0.459);
  margin-left: 40px;
  margin-bottom: 50px;
}

.cards header {
  height: 9%;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font-size: xx-large;
  font-style: oblique;



}

.cards main {
  padding: 7%;
  font-size: large;
}

.cards button {
  transform: scale(1.2);
  display: block;
  margin: auto;
  background-color: rgba(168, 13, 207, 0.459);
  padding: 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}



.slick-slide div {
  margin: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 20px;

}

.blog h1 {

  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
}

/* CSS for blog component ends here */

/* CSS for contact component starts here */

.contact {
  display: flex;
  justify-content: space-around;
}

.formsubmission {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 50px;
}

.inputfeild1 {
  width: 400px;
  height: 30px;
  margin-top: 5px;
}

.inputfeild2 {
  width: 100%;
  height: 60px;
  margin-top: 5px;
}

.formButton {
  transform: scale(1.8);

  margin: 70px;
  background-color: rgb(56, 56, 210);
  padding: 5px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: white;

  text-transform: capitalize;
}